* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

body {
    position: relative;
    width: 100%;
}

h1 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 35px;
}

h3 {
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

h4 {
    font-size: 20px;
    color: #fff;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}